# Environment files
.env
.env.local
.env.*
!.env.example

# Workspace
*.code-workspace

# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# Logs
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backups
.git.bak
.git.bak/**/*

# IDEs
.idea/
.vscode/

# Swap files
*.swp
*.swo
v0.11.1.tar.gz.

# Test scripts
test_ducktape.sh
ducktape-0.12.1.tar.gz
cleanup-calendar-files.sh
files-to-remove.txt
run-dev.sh
update-version.sh
install_local.sh
ducktape-0.16.0.tar.gz
ducktape-0.16.1.tar.gz
ducktape-0.16.3.tar.gz
